<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<head>
    <meta charset="utf-8">
    <!-- cssファイルの読み込み -->
    <link rel=stylesheet href="../static/css/style.css">
    <!-- ファビコンの設定 -->
    <link rel="icon" href="../static/images/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>

    <title>～　フリマスター　～</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href='問題'>～　フリマスター　～</a>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="#">NEWS</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>
<!-- templateの継承部分 -->
    {% block content %}
    {% endblock %}
<!-------------------->
    <footer>
    </footer>
</body>
</html>